@import url("m3-svelte/misc/styles.css");
@import url("m3-svelte/misc/recommended-styles.css");
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
  :root,
  ::backdrop {
    --m3-scheme-background: 255 249 238;
    --m3-scheme-on-background: 54 50 37;
    --m3-scheme-surface: 255 249 238;
    --m3-scheme-surface-dim: 226 217 198;
    --m3-scheme-surface-bright: 255 249 238;
    --m3-scheme-surface-container-lowest: 255 255 255;
    --m3-scheme-surface-container-low: 250 243 228;
    --m3-scheme-surface-container: 245 237 221;
    --m3-scheme-surface-container-high: 239 231 214;
    --m3-scheme-surface-container-highest: 234 226 206;
    --m3-scheme-on-surface: 54 50 37;
    --m3-scheme-on-surface-variant: 100 95 79;
    --m3-scheme-outline: 128 122 106;
    --m3-scheme-outline-variant: 185 177 159;
    --m3-scheme-inverse-surface: 16 14 8;
    --m3-scheme-inverse-on-surface: 161 156 146;
    --m3-scheme-primary: 110 94 28;
    --m3-scheme-primary-dim: 97 82 16;
    --m3-scheme-on-primary: 255 248 236;
    --m3-scheme-primary-container: 248 226 146;
    --m3-scheme-on-primary-container: 95 81 15;
    --m3-scheme-primary-fixed: 248 226 146;
    --m3-scheme-primary-fixed-dim: 233 212 133;
    --m3-scheme-on-primary-fixed: 75 62 0;
    --m3-scheme-on-primary-fixed-variant: 106 91 25;
    --m3-scheme-inverse-primary: 254 232 151;
    --m3-scheme-secondary: 103 95 65;
    --m3-scheme-secondary-dim: 91 83 54;
    --m3-scheme-on-secondary: 255 248 236;
    --m3-scheme-secondary-container: 239 226 188;
    --m3-scheme-on-secondary-container: 90 81 52;
    --m3-scheme-secondary-fixed: 239 226 188;
    --m3-scheme-secondary-fixed-dim: 224 212 174;
    --m3-scheme-on-secondary-fixed: 70 63 35;
    --m3-scheme-on-secondary-fixed-variant: 100 91 61;
    --m3-scheme-tertiary: 127 87 43;
    --m3-scheme-tertiary-dim: 113 75 32;
    --m3-scheme-on-tertiary: 255 247 243;
    --m3-scheme-tertiary-container: 251 196 143;
    --m3-scheme-on-tertiary-container: 98 62 20;
    --m3-scheme-tertiary-fixed: 251 196 143;
    --m3-scheme-tertiary-fixed-dim: 236 183 131;
    --m3-scheme-on-tertiary-fixed: 75 43 3;
    --m3-scheme-on-tertiary-fixed-variant: 108 71 28;
    --m3-scheme-error: 167 59 33;
    --m3-scheme-error-dim: 121 25 3;
    --m3-scheme-on-error: 255 247 246;
    --m3-scheme-error-container: 253 121 90;
    --m3-scheme-on-error-container: 110 20 0;
    --m3-scheme-shadow: 0 0 0;
    --m3-scheme-scrim: 0 0 0;
    --m3-scheme-on-on-primary: 109 94 28;
    --m3-scheme-primary-container-subtle: 239 217 138;
    --m3-scheme-on-primary-container-subtle: 90 76 9;
    --m3-scheme-tertiary-container-subtle: 255 210 167;
    --m3-scheme-on-tertiary-container-subtle: 106 68 26;
    --m3-scheme-error-container-subtle: 255 207 196;
    --m3-scheme-on-error-container-subtle: 142 41 16;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
  :root,
  ::backdrop {
    --m3-scheme-background: 16 14 8;
    --m3-scheme-on-background: 237 229 209;
    --m3-scheme-surface: 16 14 8;
    --m3-scheme-surface-dim: 16 14 8;
    --m3-scheme-surface-bright: 48 44 31;
    --m3-scheme-surface-container-lowest: 0 0 0;
    --m3-scheme-surface-container-low: 22 19 11;
    --m3-scheme-surface-container: 28 25 16;
    --m3-scheme-surface-container-high: 35 31 21;
    --m3-scheme-surface-container-highest: 41 38 25;
    --m3-scheme-on-surface: 237 229 209;
    --m3-scheme-on-surface-variant: 154 147 130;
    --m3-scheme-outline: 123 117 101;
    --m3-scheme-outline-variant: 76 72 57;
    --m3-scheme-inverse-surface: 255 249 238;
    --m3-scheme-inverse-on-surface: 88 85 76;
    --m3-scheme-primary: 215 198 136;
    --m3-scheme-primary-dim: 201 184 124;
    --m3-scheme-on-primary: 75 64 15;
    --m3-scheme-primary-container: 94 82 32;
    --m3-scheme-on-primary-container: 245 227 163;
    --m3-scheme-primary-fixed: 244 226 162;
    --m3-scheme-primary-fixed-dim: 230 212 149;
    --m3-scheme-on-primary-fixed: 74 63 14;
    --m3-scheme-on-primary-fixed-variant: 104 91 40;
    --m3-scheme-inverse-primary: 107 94 43;
    --m3-scheme-secondary: 210 198 161;
    --m3-scheme-secondary-dim: 196 184 148;
    --m3-scheme-on-secondary: 71 64 36;
    --m3-scheme-secondary-container: 66 59 32;
    --m3-scheme-on-secondary-container: 202 191 154;
    --m3-scheme-secondary-fixed: 239 226 188;
    --m3-scheme-secondary-fixed-dim: 224 212 174;
    --m3-scheme-on-secondary-fixed: 70 63 35;
    --m3-scheme-on-secondary-fixed-variant: 100 91 61;
    --m3-scheme-tertiary: 255 213 175;
    --m3-scheme-tertiary-dim: 251 196 143;
    --m3-scheme-on-tertiary: 108 70 28;
    --m3-scheme-tertiary-container: 251 196 143;
    --m3-scheme-on-tertiary-container: 98 62 20;
    --m3-scheme-tertiary-fixed: 251 196 143;
    --m3-scheme-tertiary-fixed-dim: 236 183 131;
    --m3-scheme-on-tertiary-fixed: 75 43 3;
    --m3-scheme-on-tertiary-fixed-variant: 108 71 28;
    --m3-scheme-error: 249 119 88;
    --m3-scheme-error-dim: 196 79 52;
    --m3-scheme-on-error: 69 9 0;
    --m3-scheme-error-container: 133 35 10;
    --m3-scheme-on-error-container: 255 155 130;
    --m3-scheme-shadow: 0 0 0;
    --m3-scheme-scrim: 0 0 0;
    --m3-scheme-on-on-primary: 215 198 136;
    --m3-scheme-primary-container-subtle: 53 43 0;
    --m3-scheme-on-primary-container-subtle: 187 171 111;
    --m3-scheme-tertiary-container-subtle: 67 37 0;
    --m3-scheme-on-tertiary-container-subtle: 212 161 111;
    --m3-scheme-error-container-subtle: 90 14 0;
    --m3-scheme-on-error-container-subtle: 255 138 110;
  }
}

@font-face {
  font-family: Inter Variable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("InterVariable.woff2") format("woff2");
}
*,
*::before,
*::after {
  border: solid 0 currentColor;
}
*:not(dialog) {
  margin: 0;
}
dialog {
  max-width: 100dvw !important;
}
*:not(b, i, strong, em) {
  font: inherit;
}
:root {
  background-color: rgb(var(--m3-scheme-background));
  color: rgb(var(--m3-scheme-on-background));
}
button,
select {
  cursor: pointer;
}
body {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  font-family: var(--m3-font);
  --m3-font: Inter Variable, Roboto, Noto, sans-serif;
  box-sizing: border-box;
}
